head,body,html,div {
	margin:0px;
	padding:0px;
	border:0px;
	overflow:hidden;
}

body {
	background-color:black;
	color:white;
}

.fullscreen-svg {
	display:block;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
}

#target {
	fill:white;
}

.centered-in-window {
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}

#config-dialog {
	padding:5%;
	border:0;
	width:40%;
	height:40%;
	background-color:rgba(255,255,128,0.8);
	color:black;
	z-index:999;
}

#start-button {
	width:200px;
	height:4em;
	text-align:center;
}

#tech-change {
	width:800px;
	height:600px;
	background-color:#008800;
	text-align:center;
	z-index:9;
}

#save-dialog {
	width:1000px;
	background-color:#666688;
	padding:50px;
}

